.product-container{
    display: flex;
    flex-wrap: wrap;
}

.product-item{
    margin: 10px;
    text-align: center;
    padding: 20px;
}

.product-item img{
    width: 150px;
    height: 150px;
}
